[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
NoDisplay=true
Exec=java -jar %f
Name=Java
Comment=java
MimeType=application/x-jar
Icon=application-java
Name[pt_BR]=Java
